*.o
*.ko
*.mod
*.mod.c
*.order
*.symvers
*.cmd
*.log
*.sock
logs/

rootfs-alpha/proc/
rootfs-beta/proc/
rootfs-base/proc/

rootfs-alpha/dev/
rootfs-beta/dev/
rootfs-base/dev/

rootfs-alpha/sys/
rootfs-beta/sys/
rootfs-base/sys/
